body {
    background-color: #F5DEB3;
      margin: 20px;
      width: 75%;
      border: 3px solid black; //fix this to be reactive lol
      padding: 20px;
      text-align: center;

}

hr.dashed {
  border-top: 3px dashed #bbb;
  background-color: black;
}

select {
    margin: 10px;
}

table, th, td {
  border: 1px solid black;
}

td{
    padding: 0 20px;
}

submit {
    margin: 10px;
}
